prev_analysis
admin
*.rules
*.json
.firebaserc
STAND-prescreen/analysis/*.html
STAND-prescreen/analysis/*.Rmd
STAND-tasks-1/analysis/stan-fits/*
STAND-tasks-1/analysis/pilot/*
STAND-tasks-1/analysis/rmd
STAND-tasks-2/analysis/stan-fits/*
STAND-tasks-2/analysis/pilot/*
STAND-tasks-2/analysis/stan-models/drafts
STAND-tasks-2/analysis/stan-models/prev_versions
STAND-tasks-2/analysis/stan-models/rew-eff/*
!STAND-tasks-2/analysis/stan-models/rew-eff/*.stan
STAND-tasks-2/analysis/stan-models/caus-attr/*
!STAND-tasks-2/analysis/stan-models/caus-attr/*.stan
STAND-tasks-2/analysis/rmd
.Rproj.user
*.txt
*.xlsx
.lintr
*.Rhistory
*.DS_Store
*.Rproj
*.csv
!*_scrambled.csv
scramble_ids.R
*.py
# deprecated: superseded by qnr_analysis_ancova.R (kept locally, not published)
qnr_analysis_complete.R
